nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    transition: box-shadow 0.3s ease;
}

.scrolled {
    -webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.2);
}

#logo {
    height: 70%;
    z-index: 2;
}

#hamburguer {
    display: none;
}

#button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.show {
    display: flex !important;
    animation: fadeIn 0.5s ease forwards;
}    

@media screen and (max-width: 767px) {
    nav {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #hamburguer {
        display: block;
        z-index: 2;
    }

    #button-group {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        width: 100%;
        height: 12rem;
        position: absolute;
        top: 0;
        -webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.2);
        background-color: #FFFFFF;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}